{% extends 'filmak/nabigazioa.html' %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% trans "Menu - Bozkatutako filmak" %}</title>
</head>
<body>
    {% block content %}
    <h1>{% trans "Nire gogoko filmak" %}</h1>

    <form class="table-container" method="post">
        {% csrf_token %}
        <table border="1" cellpadding="5" cellspacing="0">
            <thead>
                <tr>
                    <th>{% trans "Izenburua" %}</th>
                    <th>{% trans "Zuzendaria" %}</th>
                    <th>{% trans "Urtea" %}</th>
                    <th>{% trans "Generoa" %}</th>
                    <th>{% trans "Bozkak" %}</th>
                    <th>{% trans "Ekintza" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for film in filmak %}
                <tr>
                    <td>{{ film.izenburua }}</td>
                    <td>{{ film.zuzendaria }}</td>
                    <td>{{ film.urtea }}</td>
                    <td>{{ film.generoa }}</td>
                    <td>{{ film.bozkak }}</td>
                    <td>
                    <button type="submit" name="film" value="{{ film.id }}">{% trans "Botoa kendu" %}</button>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">{% trans "Ez dago filma bat ere" %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="pagination">
            <span class="step-links">
                {% if filmak.has_previous %}
                    <a href="?page={{ filmak.previous_page_number }}">{% trans "aurrekoa" %}</a>
                {% endif %}
                <span class="current">
                    {% trans "Orria" %} {{ filmak.number }} / {{ filmak.paginator.num_pages }}
                </span>
                {% if filmak.has_next %}
                    <a href="?page={{ filmak.next_page_number }}">{% trans "hurrengoa" %}</a>
                {% endif %}
            </span>
        </div>
    </form>
    {% endblock %}
</body>
</html>