{% extends 'filmak/nabigazioa.html' %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% trans "Menu - Filmak bozkatu" %}</title>
        <style>
        .scrollable-list {
            height: 300px;
            width: 400px;
            overflow-y: scroll;
            border: 1px solid #333;
            padding: 10px;
        }
        .scrollable-list label {
            display: block;
            margin-bottom: 5px;
        }
    </style>
</head>
<body>
    {% block content %}
    <h1>{% trans "Filmak Bozkatu" %}</h1>
    <p>{% trans "Hautatu zure gogoko filmak zerrendatik:" %}</p>
    <h3>{% trans "Filmak (CTRL + shift aukera gehiago hautatzeko):" %}</h3>
    <form method="post" id="bozkatu-form">
        {% csrf_token %}
        <div>
            {{ form.filmak }}
        </div>
        <br>
        <button type="submit">{% trans "Bozkatu" %}</button>
    </form>
    {% endblock %}
</body>
</html>