<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu - Filmak bozkatu</title>
        <style>
        .scrollable-list {
            height: 300px;
            width: 400px;
            overflow-y: scroll;
            border: 1px solid #333;
            padding: 10px;
        }
        .scrollable-list label {
            display: block;
            margin-bottom: 5px;
        }
    </style>
</head>
<body>
    <h1>Filmak Bozkatu</h1>
    <p>Hautatu zure gogoko filmak zerrendatik:</p>
    <h3>Filmak (CTRL + shift aukera gehiago hautatzeko):</h3>
    <form method="post">
        {% csrf_token %}
        <div class="scrollable-list">
            {{ form.filmak }}
        </div>
        <br>
        <button type="submit">Bozkatu</button>
    </form>
</body>
</html>