<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu-Filmen gunea</title>
</head>
<body>
    <div class="navbar">
        <h2>Gunea</h2>
        <a href="{% url 'filmenZerrenda' %}" class="navbaritem">Filmen Zerrenda</a>
        <a href="{% url 'filmakBozkatu' %}" class="navbaritem">Filma Bozkatu</a>
        <a href="{% url 'bozkatutakoak' %}" class="navbaritem">Bozkatutakoak</a>
        <a href="{% url 'zaleak' %}" class="navbaritem">Zaleak ikusi</a>
    </div>
    <h1>Menu nagusia</h1>

    <p>Kaixo {{ username }}</p>

    <p>Aukeratu menutik egin nahi duzun ekintza</p>
</body>
</html>