<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Filmen gunea</title>
</head>
<body>
    <div class="navbar">
        <a href="{% url 'menu' %}" class="navbaritem"><h2>Gunea</h2></a>
        {% if user.is_authenticated  %}
            <a href="{% url 'filmenZerrenda' %}" class="navbaritem">Filmen Zerrenda</a>
            <a href="{% url 'filmakBozkatu' %}" class="navbaritem">Filma Bozkatu</a>
            <a href="{% url 'bozkatutakoak' %}" class="navbaritem">Bozkatutakoak</a>
            <a href="{% url 'zaleak' %}" class="navbaritem">Zaleak ikusi</a>
            <a href="{% url 'logOut' %}" class="navbaritem">Saioa amaitu</a>
        {% else %}
            <a href="{% url 'erregistratu' %}" class="navbaritem">Erregistratu</a>
            <a href="{% url 'login' %}" class="navbaritem">Login</a>
        {% endif %}
    </div>
    <div class="main-content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>