<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu- Zaleak</title>
</head>
<body>
    <h1>Zaleak</h1>
    <p>Aukeratu film bat nork bozkatu duen ikusteko:</p>
    <form method="post">
        {% csrf_token %}
        <div class="scrollable-list">
            {{ form.filmak }}
        </div>
        <br>
        <button type="submit">Erakutsi zaleak</button>
    </form>
    {% if zaleak %}
            <h2>{{ filma }}-ren zaleak:</h2>
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Erabiltzailea</th>
                    </tr>
                </thead>
                <tbody>
                    {% for zalea in zaleak %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ zalea.username }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="3">Pelikula honek ez du bozkatzailerik</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p>Guztira: {{ zaleak|length }} zale.</p>
    {% endif %}
</body>
</html>