{% extends 'filmak/nabigazioa.html' %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% trans "Menu- Zaleak" %}</title>
</head>
<body>
    {% block content %}
    <h1>{% trans "Zaleak" %}</h1>
    <p>{% trans "Aukeratu film bat nork bozkatu duen ikusteko:" %}</p>
    <form method="post">
        {% csrf_token %}
        <div class="scrollable-list">
            {{ form.filmak }}
        </div>
        <br>
        <button type="submit">{% trans "Erakutsi zaleak" %}</button>
    </form>
    {% if zaleak %}
        {% blocktrans %}
            <h2>{{ filma }}-ren zaleak:</h2>
        {% endblocktrans %}
            <table border="1" cellpadding="5" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>{% trans "Erabiltzailea" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for zalea in zaleak %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ zalea.username }}</td>
                        </tr>
                    {% empty %}

                    {% endfor %}
                </tbody>
            </table>
            <p>{% trans "Guztira:" %} {{ zaleak|length }} {% trans "zale." %}</p>
    {% else %}
        <br>
        <tr>
            <td colspan="3">{{ abisua }}</td>
        </tr>
    {% endif %}
    {% endblock %}
</body>
</html>