<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu- Zaleak</title>
</head>
<body>
    {% extends 'filmak/nabigazioa.html' %}
    {% block content %}
    <h1>Zaleak</h1>
    <p>Aukeratu film bat nork bozkatu duen ikusteko:</p>
    <form method="post">
        {% csrf_token %}
        <div class="scrollable-list">
            {{ form.filmak }}
        </div>
        <br>
        <button type="submit">Erakutsi zaleak</button>
    </form>
    {% if zaleak %}
            <h2>{{ filma }}-ren zaleak:</h2>
            <table border="1" cellpadding="5" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Erabiltzailea</th>
                    </tr>
                </thead>
                <tbody>
                    {% for zalea in zaleak %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ zalea.username }}</td>
                        </tr>
                    {% empty %}

                    {% endfor %}
                </tbody>
            </table>
            <p>Guztira: {{ zaleak|length }} zale.</p>
    {% else %}
        <br>
        <tr>
            <td colspan="3">{{ abisua }}</td>
        </tr>
    {% endif %}
    {% endblock %}
</body>
</html>